services:
  # web:
  #   env_file: ./.env
  #   image: tudigong-web:latest
  #   ports:
  #     - "3001:3000"
  #   depends_on:
  #     - service

  service:
    env_file: ./.env.service
    image: tudigong-service:latest
    ports:
      - "8081:8080"
    depends_on:
      db:
        condition: service_healthy

  db:
    env_file: ./.env.service
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data:
