# 如果在 branch main push 時，修改的是 dev/docker-compose.yml，就把 dev/docker-compose.yml 傳到 dev 環境，如果是 prd/docker-compose.yml，就把 prd/docker-compose.yml 傳到 prd 環境。
name: deploy Compose and restart

on:
  push:
    branches:
      - main

jobs:
  deploy-backup-sh:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      

      - name: set permission
        run: |
          chmod +x slack-and-mail.sh

      - name: Sync
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          source: slack-and-mail.sh
          target: ~/backup

  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: set .env
        run: |
          echo "PING_URL_WEB=${{secrets.PING_URL_WEB}}" >> dev/.env
          echo "PING_URL_SERVICE=${{secrets.PING_URL_SERVICE}}" >> dev/.env
          echo "SLACK_TOKEN=${{secrets.SLACK_TOKEN}}" >> dev/.env
          echo "SLACK_CHANNEL_ID=${{secrets.SLACK_CHANNEL_ID}}" >> dev/.env
          echo "GMAIL_APP_PASS=${{secrets.GMAIL_APP_PASS}}" >> dev/.env

      - name: set healthcheck permission
        run: |
          cp backup.sh dev/backup.sh
          chmod +x dev/backup.sh
          chmod +x dev/healthcheck-web.sh
          chmod +x dev/healthcheck-service.sh

      - name: Sync
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          # dev/docker-compose.yml, dev/healtcheck.sh
          source: dev/*
          target: ~/web/dev
          strip_components: 1

      - name: restart web, db, service, healthcheck-web-reporter, healthcheck-service-reporter
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            cd ~/web/dev
            env $(cat .env .env.web .env.service | xargs) docker compose restart dev-db
            env $(cat .env .env.web .env.service | xargs) docker compose restart dev-service
            env $(cat .env .env.web .env.service | xargs) docker compose restart dev-web
            env $(cat .env .env.web .env.service | xargs) docker compose restart dev-healthcheck-web-reporter
            env $(cat .env .env.web .env.service | xargs) docker compose restart dev-healthcheck-service-reporter

  deploy-prd:
    runs-on: ubuntu-latest
    environment: prd

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: set .env
        run: |
          echo "PING_URL_WEB=${{secrets.PING_URL_WEB}}" >> prd/.env
          echo "PING_URL_SERVICE=${{secrets.PING_URL_SERVICE}}" >> prd/.env
          echo "SLACK_TOKEN=${{secrets.SLACK_TOKEN}}" >> prd/.env
          echo "SLACK_CHANNEL_ID=${{secrets.SLACK_CHANNEL_ID}}" >> prd/.env
          echo "GMAIL_APP_PASS=${{secrets.GMAIL_APP_PASS}}" >> prd/.env

      - name: set healthcheck permission
        run: |
          cp backup.sh prd/backup.sh
          chmod +x prd/backup.sh
          chmod +x prd/healthcheck-web.sh
          chmod +x prd/healthcheck-service.sh

      - name: Sync
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          # prd/docker-compose.yml, prd/healtcheck.sh
          source: prd/*
          target: ~/web/prd
          strip_components: 1

      - name: restart web, db, service, healthcheck-web-reporter, healthcheck-service-reporter
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            cd ~/web/prd
            env $(cat .env .env.web .env.service | xargs) docker compose restart prd-db
            env $(cat .env .env.web .env.service | xargs) docker compose restart prd-service
            env $(cat .env .env.web .env.service | xargs) docker compose restart prd-web
            env $(cat .env .env.web .env.service | xargs) docker compose restart prd-healthcheck-web-reporter
            env $(cat .env .env.web .env.service | xargs) docker compose restart prd-healthcheck-service-reporter
