name: e2e testing

on:
  push:
    branches: ["chore/e2e-action"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout current repo
        uses: actions/checkout@v4

      - name: checkout web repo
        uses: actions/checkout@v4
        with:
          repository: tu-di-gong/tudigong-web
          path: tudigong-web
          ref: main
          token: ${{ secrets.ORG_PAT }}

      - name: copy ci/.env to tudigong-web
        run: |
          cp ci/.env tudigong-web/.env
          cd tudigong-web
          ls -la

      - name: checkout service repo
        uses: actions/checkout@v4
        with:
          repository: tu-di-gong/tudigong-service
          path: tudigong-service
          ref: main
          token: ${{ secrets.ORG_PAT }}

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: build tudigong-service Docker image
        uses: docker/build-push-action@v6
        with:
          context: tudigong-service
          push: false
          load: true
          platforms: linux/amd64
          tags: tudigong-service:latest

      - name: Run docker-compose
        uses: hoverkraft-tech/compose-action@v2.0.2
        with:
          compose-file: "./ci/docker-compose.yml"

      - name: test the compose service
        run: |
          curl http://localhost:8081/health

      - name: build tudigong-web Docker image
        uses: docker/build-push-action@v6
        with:
          context: tudigong-web
          push: false
          load: true
          platforms: linux/amd64
          tags: tudigong-web:latest

      # - name: test docker image
      #   run: |
      #     docker run tudigong-web:latest
